body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 20px;
}

.main {
    padding: 20px;
}

.training-list a {
    display: block;
    background-color: #444;
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.training-list a:hover {
    background-color: #666;
}

#timer {
    font-size: 2em;
    margin-top: 20px;   
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
}